@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap');

.awesome-container * {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

.awesome-container {
    background: #fff;
    margin: 50px 0 58px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.awesome-subcontainer {
    width: 1170px;
    height: 665px;
}

.awesome-container h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.awesome-container .text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 21px;
    color: #86878B;
    margin-top: 40px;
}

.awesome-container h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
}

.awesome-container h4 {
    font-family: Open Sans, sans-serif;
    font-size: 24px;
}

.awesome-container h5 {
    font-weight: 400;
}

.awesome-container .separator {
    margin: 0 auto;
    width: 168px;
    border: 0.5px solid #EC7979;
}

.awesome-container .wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 71px;
}

.awesome-container article {
    width: 370px;
    height: 665px;
    margin: 0 auto;
    text-align: center;
    padding: 0 15px;
}

.awesome-container .title {
    padding: 38px 0;
}

.awesome-container {
    margin-top: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    .awesome-container {
        width: 1024px;
    }
    
    .awesome-subcontainer {
        width: 992px;
        margin-left: auto;
        margin-right: auto;
        /* height: 1199px; */
    }

    .awesome-container h2 {
        height: 120px;
        font-size: 24px;
    }

    .awesome-container .text {
        font-size: 14px;
    }

    .awesome-subcontainer img {
        width: 147px;
    }
/* веса */
    .awesome-container article {
        width: 316px;
    }

    article:nth-of-type(2) {
        margin: 0 15px;
    }
    

    .awesome-container .title {
        height: 82px;
        font-size: 18px;
    }

    .awesome-container h5:not(.text) {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .awesome-container {
        display: block;
        /* width: calc(288px + 16px * 2); */
    }
    .awesome-subcontainer {
        width: 288px;
        height: 1199px;
        margin: 0 auto;
        margin-top: -120px;
        margin-bottom: -60px;
    }

    .awesome-container article {
        width: 100%;
        height: 305px;
    }

    .awesome-container .wrapper {
        display: block;
    }

    .awesome-container .title {
        padding: 0;
    }

    .awesome-container h2 {
        height: 120px;
        font-size: 18px;
    }

    .awesome-container .text {
        font-size: 13px;
        text-align: center;
    }

    .awesome-subcontainer img {
        width: 147px;
    }

    .awesome-container h5:not(.text) {
        font-size: 14px;
    }

    .awesome-container h4 {
        font-size: 18px;
    }

    article:nth-of-type(2) {
        margin: 0;
    }
/* веса */
    /* .awesome-container__items article {
        width: 288px;
    } */
}